* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.88%;
}
body {
  background: linear-gradient(to left, #decba4, #3e5151);
  margin: 0 auto;
  width: 60%;
}
.heading {
  display: grid;
  text-align: center;
  font-size: 7.4rem;
  font-weight: bold;
  text-decoration: underline rgb(226, 216, 238);
}

form {
  display: inline-grid;
  min-height: 100vh;
  grid-template-columns: repeat(auto-fill, minmax(350px, 2fr));
  grid-row-gap: 10px;
  padding: 0 10px;
}
div {
  display: flex;
  align-items: center;
  /* justify-self: center; */
  font-size: 2.7rem;
  margin-left: 1rem;
}
.submit {
  /* display: flex; */
  justify-self: center;
  align-self: center;
  margin-bottom: 3.3rem;
}
#submit {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 2px solid lightpink;
  font-size: 1.9rem;
  /* margin: 55px 80px; */
}
textarea {
  width: 100%;
}

span {
  font-size: 1.9rem;
  display: block;
  padding-left: 0.8rem;
}

input,
#t-shirt {
  width: 50%;
  height: 25px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
/* #t-shirt,
#DOB {
  width: 50%;
  height: 35px;
  display: block;
} */
